{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  
  {% from "_formhelpers.html" import render_field %}
  <form method=post action="/login">
    <dl>
      {{ render_field(login_form.username) }}
    </dl>
    <p><input type=submit value=Login>
  </form>

  <h2>Create Lobby</h2>
  <form action="/create" method=post>
    <dl>
      <dt>Lobby Name:
      <dd><input type=text name=name>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Create>
    </dl>
  </form>

  <h2>Join Lobby</h2>
  <form action="/join" method=post>
    <dl>
      <dt>Lobby Name:
      <dd><input type=text name=name>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Create>
    </dl>
  </form>

{% endblock %}